form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

form > * {
    margin-bottom: 10px;
}

form, h1 {
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}